html,body{
  overflow: hidden;
}



.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg, rgba(252, 154, 216, 0.3) 12%, rgba(144, 73, 250, 0.4) 57%, rgba(72, 75, 254, 0.5) 93%);
}

.login-container {
  width: 100%;
  height: 70%;
  text-align: center;
}

.menue-icon {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: min(150px, 35%);
  margin-bottom: auto;
  display: block;
  background-image: url(./images/YUI-LOOP.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.board-icon {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: block;
  background-image: url(./images/YUI-LOOP.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.board-mini-icon {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: block;
  background-image: url(./images/YUI-LOOP.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.menue-text {
  font-family: Courier;
  color: black;
  font-size: 13px;
}

.no-login-into {
  text-align: center;
  padding: 1% 1%;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  background-color: rgba(230,249,252, 0.7);
  box-shadow: 4px 4px 13px 5px rgba(98, 1, 167, 0.25);
  color: black;
}

.example-btn {
  width: 120px;
  padding: 8px 20px;
  margin-top: 40px;
}

.example-text {
  text-align: center;
  margin: 10% auto 20%;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.into-modal {
  position: absolute;
  top: min(20%, 150px);
  left: min(20%,30em);
  right: min(20%,30em);
  bottom: min(20%, 150px);
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1.5rem;
  overflow-y: scroll;
}

.text-left {
  text-align: left;
}

.orange-line {
  background-color: #FCD07E;
}

.green-line {
  background-color: #c7dba7;
}

.text-bold {
  font-weight: bold;
}

.btn-wrap {
  display:flex;
  flex-flow: column;
  border:2px #ccc solid;
  height:300px;
  margin:0 0 1em;
}

.cancel-btn {
 text-align: center;
}

.menue-btn {
  position: relative;
  width: 150px;
  margin: 5px;
  overflow: hidden;
  padding: 8px 12px;
  color: #fff;
  border-radius: 0;
  background: #000;
  white-space: nowrap;
}

.menue-btn span {
  position: relative;
}

.menue-btn::before{
  position: absolute;
  top: 0;
  left: 20px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #f15186;
}


.menue-btn:hover::before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.menue-btn:hover span{
  color: #000;
}


.add-btn {
  position: absolute;
  z-index: 30;
  left: min(74%,900px);
  bottom: 10%;
  display: inline-block;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 50%;
  border: none;
  outline: none;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1px #ed87fd;
  background-image: url(./images/add-button.png);
  background-size: 100%;
}

.reload-btn {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 120px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  overflow: hidden;
  background-image: url(./images/reload-button.png);
  background-size: 100%;
}

.home-btn {
  margin: 5px;
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 120px;
  border-radius: 50%;
  border: none;
  outline: none;
  text-align: center;
  overflow: hidden;
  background-image: url(./images/home-button.png);
  background-size: 100%;
  background-color: rgba(137, 43, 226, 0);
}


.gender {
  display: inline-flex;
}

.CarpoolModal {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: min(3%, 150px);
  left: min(20%,30em);
  right: min(20%,30em);
  bottom: min(3%, 150px);
  background-color: rgb(247, 223, 255);
  border-radius: 1rem;
  padding: 1.5rem;
  overflow-y: scroll;
}

.max-front {
  z-index: 35;
}

.ConfirmButton {
  display: flex;
  justify-content: center;
}

.cancel-btn {
  color: #000;
  background-color: #bbbbbb;
  border-bottom: 5px solid #acacac;
  margin: 10px;
}

.cancel-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #bbbbbb;
  border-bottom: 2px solid #acacac;
}

.decision-btn {
  color: #000;
  background-color: #fdff6d;
  border-bottom: 5px solid #fbff16;
  margin: 10px;
}

.decision-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #fdff6d;
  border-bottom: 2px solid #fbff16;
}

.my-card {
  width: 60vw;
  max-width: 450px;
  padding: 1px 7px;
  border-radius: 5px;
  border: 10px double #000;
  backdrop-filter: blur(20px);
  font-size: 15px;
  color:rgb(0, 0, 0);
  background-color:rgb(225, 254, 222);
  box-shadow: 4px 4px 13px 5px rgba(98, 1, 167, 0.25);
  margin-right: auto;
  margin-left: auto;  
  margin-top: 30px;
}

.other-card {
  width: 60vw;
  max-width: 450px;
  padding: 1px 7px;
  border-radius: 5px;
  border: 10px double #000;
  backdrop-filter: blur(20px);
  font-size: 15px;
  color:rgb(0, 0, 0);
  background-color:rgb(251, 246, 180);
  box-shadow: 4px 4px 13px 5px rgba(98, 1, 167, 0.25);
  margin-right: auto;
  margin-left: auto;  
  margin-top: 30px;
}

.card:hover{
  box-shadow: 1px 1px 20px 10px rgba(98, 1, 167, 0.25);
}

.card-header{
  text-align: left;
  margin: 1px 1px;
}

.card-place{
  font-size: large;
  white-space: nowrap;
  display: inline-flex;
}

.card-memo{
  text-align: left;
}

.card-req{
  text-align: left;
}

p {
  white-space: pre-wrap;
}

.card-list {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;                
  height: 90%;              
  border: 1px solid rgb(0, 0, 0);
  overflow-y: scroll;
}

.sin-up-odal {
  margin-left: auto;
  margin-right: auto;
}

.ex-container {
  text-align: center;
  font-weight: bold;
}

.ex-1 {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 215px;
  height: 300px;
  background-image: url(./images/1.png);
  background-size: 100%;
}

.ex-2 {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 270px;
  background-image: url(./images/2.png);
  background-size: 100%;
}

.ex-3 {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
  height: 200px;
  background-image: url(./images/3.png);
  background-size: 100%;
}

.req-btn {
  color: #000;
  background-color: #f1d3fe;
  border-bottom: 5px solid #ea8dfa;
}

.req-btn:hover {
  margin-top: 3px;
  color: #000;
  background: #f1d3fe;
  border-bottom: 2px solid #ea8dfa;
}

.top-btn {
  display: inline-flex;
}