.App {
  text-align: center;
  color: #7f1184;
}

.popup-menu-container {
  position: relative;
}

.popup-menu {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(195, 195, 195);


  transform: scale(0);
  transform-origin: center;

  transition: transform 0.2s;
}

.popup-menu.shown {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(195, 195, 195);


  transform: scale(1);
  transform-origin: center;

  transition: transform 0.2s;
}

.popup-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
  color: rgb(0, 0, 0);
}



.popup-select{
  position: fixed;
  width: 70%;
  height: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
